# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# Next.js
frontend/.next/
frontend/node_modules/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Build
dist/
build/